  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

  body{
    font-family: 'Comic Neue', cursive;
  }

  .container{
    background-color: antiquewhite;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.quotes{
    background-color:moccasin;
    width: 80%;
    height: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.labels{
    max-width: 80vh;
    min-width: 30vh;
}

.labels h1{
    font-size: 2rem;
}

.labels h2{
    font-size: 2rem;
    margin-top: 5%;
}